JCudaVec/target/
/JCudaSamples/cudnn64_5.dll
/JCudaSamples/.settings
/JCudaSamples/.classpath
/JCudaSamples/.project
/JCudaSamples/target
/JCudaSamples/src/main/resources/kernels/*.cubin
/JCudaSamples/src/main/resources/kernels/*.ptx
